h1 {
  text-align: center;
}


.film-container {
  width: 40%;
  margin: auto;
  text-align: center;
  border: 1px double;
}

.film-container > h2 {
  margin-bottom: 0.5rem;
}
.film-container > div {
  padding-bottom: 0.5rem;
}

.poster {
  width: 180px;
  margin: auto;
}

.poster > img {
  width: 100%;
}

@media (min-width: 1380px) {
  #film {
    display: flex;
    justify-content: space-around;
  }

  .film-container {
    width: 480px;
    margin: 1rem;
  }
}